body {
    font-family: 'Lato', sans-serif;
    font-size: .9em;
}

:root {
    --info-color: #506E76;
    --warning-color: #CDA04F;
    --error-color: #ED5650;
    --debug-color: #509576;
    --message-color:#C0AC91;
    --exception-color:#fffc;
    --thread-color:#43a4c4;
    --path-color:#EFECBA;
    --header-color:#122948;
}

/* HEADER */

.menu-header {
    width: 100vw;
    background: var(--header-color);
    position: fixed;
    top: 0;
}

.header {
    padding: 10px;
    background-color: var(--header-color);
    color: white;
    margin-bottom: 10px;
}

.menu-level > label {
    color: white;
    display: inline-block;
    border-radius: .25em;
    padding: .2em .6em .3em;

}

.menu-search {
    width: 100%; 
    margin-bottom: 10px;
}

.menu {
    margin-bottom: 10px;
}

.content {
    margin-top: 120px;
}

/* ROW */

.row {
    min-height: 30px;
    padding: 5px;
    line-height: 28px;
}

.row > .thread {
    border-radius: .25em;
    background-color: var(--thread-color);
    padding: .2em .6em .3em;
    color: white;
}

.row > .date {
    border-radius: .25em;
    background-color: white;
    padding: .2em .6em .3em;
}

.row > .path {
    border-radius: .25em;
    background-color: var(--path-color);
    padding: .2em .6em .3em;
    color: #666666;
}

/* TAGS */

.info {
    background-color: var(--info-color);
}

.warning {
    background-color: var(--warning-color);
}

.error {
    background-color: var(--error-color);
}

.debug {
    background-color: var(--debug-color);
}

.message {
    border-radius: .25em;
    background-color: var(--message-color);
    padding: .2em .6em .3em;
    color: white;
}

.exception {
    background-color: var(--exception-color);
    margin-top: 5px;
    padding-left: 5px;
}
