body {
    font-family: 'Lato', sans-serif;
    font-size: .9em;
}

:root {
    --info-color: rgb(117, 135, 167);
    --warning-color: rgb(255, 210, 128);
    --error-color: rgb(252, 135, 135);
    --debug-color: rgb(135, 252, 139);
}

.info {
    background-color: var(--info-color);
}

.warning {
    background-color: var(--warning-color);
}

.error {
    background-color: var(--error-color);
}

.debug {
    background-color: var(--debug-color);
}

.message {
    border-radius: .25em;
    background-color: #74faff;
    padding: .2em .6em .3em;
}

.exception {
    background-color: #fffc;
    margin-top: 5px;
    padding-left: 5px;
}

.row {
    min-height: 30px;
    padding: 5px;
    line-height: 28px;
}

.row > .thread {
    border-radius: .25em;
    background-color: #74acff;
    padding: .2em .6em .3em;
    color: white;
}

.row > .date {
    border-radius: .25em;
    background-color: white;
    padding: .2em .6em .3em;
}

.row > .path {
    border-radius: .25em;
    background-color: #fff958;
    padding: .2em .6em .3em;
}

.header {
    padding: 10px;
    background-color: rgb(88, 88, 245);
    color: white;
    margin-bottom: 10px;
}

.menu-level > label {
    display: inline-block;
    border-radius: .25em;
    padding: .2em .6em .3em;

}

.menu-search {
    width: 100%; 
    margin-bottom: 10px;
}

.menu {
    margin-bottom: 10px;
}