<div class="header">  
    <input multiple="false" type="file" name="file" onchange={{action "upload"}} accept="log" />
</div>

<div>
    {{#each model as |item|}}
        {{log-row model=item}}
    {{/each}}
</div>